<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header')  %> 

<body>
    <div>
        <%- include('./partials/navigation')  %> 
        
        <!-- Location, Longitude, and Latitude -->
        <div class="flex items-center justify-center mt-12">
            <div class="column">
                <img src="https://cdn-icons-png.flaticon.com/512/197/197561.png" class="mr-3 h-6 sm:h-48" alt="Country Flag" />
                
            </div>
            <div class="flex flex-col px-4">
                <h3 class="text-5xl font-semibold">
                    <%= weather[0]["location"]["name"] %>
                </h3>
                <p class="text-3xl mt-2">
                    <%= weather[0]["location"]["lat"] %>째 N, 
                    <%= weather[0]["location"]["long"] %>째 E
                </p>
            </div>
        </div>
        <div class="flex items-center justify-center mt-12 gap-12">
            <!-- Current Date -->
            <div class="flex flex-col">
                    <!-- <img src="" class="mr-3 h-6 sm:h-20" alt="Weather Icon" /> -->
                <div>
                    <p class="text-3xl font-bold text-center mt-2">Today</p>
                    <p class="text-3xl text-center mt-2"><%= weather[0]["current"]["date"] %></p>
                    <p class="text-3xl text-center mt-2"><%= weather[0]["current"]["temperature"] %>째 C</p>   
                </div>  
            </div>
            <!-- Forecast -->
                <% for(let i = 1; i <= 4; i++){%> 
                    <div class="flex flex-col">
                        <div class="text-3xl font-bold text-center mt-2"><%= weather[0].forecast[i].day %></div>
                        <div class="text-3xl text-center mt-2"><%= weather[0].forecast[i].date %></div>
                        <div class="text-3xl text-center mt-2"><%= weather[0].forecast[i].skycodeday %>째 C</div>
                    </div>
                <% } %>   
            </div>
        </div>
    </div>
    <%- include('./partials/footer')  %> 
</body>
</html>

